docker.enabled    = true
process.containerOptions = '-u $(id -u):$(id -g)'

params {
  img_mash        = 'quay.io/biocontainers/mash:2.3--hb105d93_10'
  img_bowtie2     = 'quay.io/biocontainers/bowtie2:2.5.4--he96a11b_7'
  img_samtools    = 'genomicepidemiology/csiphylogeny:1.6.1'
  img_seqio       = 'adipi71/python3:latest'
  }

process {
  withName: /MASH_.*/       { container = params.img_mash }
  withName: /BOWTIE2_.*/    { container = params.img_bowtie2 }
  withName: /FASTQ_TO_FASTA_SEQIO/ { container = params.img_seqio }
  withName: /SAMTOOLS_VCFUTILS_FASTQ/ {
    container        = params.img_samtools
    containerOptions = '-u 0:0'}
}