docker.enabled    = true
process.containerOptions = '-u $(id -u):$(id -g)'

params {
  img_fastp       = 'quay.io/biocontainers/fastp:1.0.1--heae3180_0'
  img_mash        = 'quay.io/biocontainers/mash:2.3--hb105d93_10'
  img_chewbbaca   = 'nexus-prod.izs.intra:9091/bioinfo/chewbbaca-w-schemas:2.8.5--e99461b982'
  img_bowtie2     = 'quay.io/biocontainers/bowtie2:2.5.4--he96a11b_7'
  img_samtools    = 'genomicepidemiology/csiphylogeny:1.6.1'
  img_seqio       = 'nexus-prod.izs.intra:9091/bioinfo/python3:3.10.1--29cf21c1f1'
  }

process {
  withName: /FASTP/         { container = params.img_fastp }
  withName: /MASH_.*/       { container = params.img_mash }
  withName: /CHEWBBACA/     { container = params.img_chewbbaca }
  withName: /BOWTIE2_.*/    { container = params.img_bowtie2 }
  withName: /FASTQ_TO_FASTA_SEQIO/ { container = params.img_seqio }
  withName: /SAMTOOLS_VCFUTILS_FASTQ/ {
    container        = params.img_samtools
    containerOptions = '-u 0:0'}
}