docker.enabled    = true
process.containerOptions = '-u $(id -u):$(id -g)'

params {
  img_mapping   = 'adipi71/eoh_mapping:0.9'
  }

process {
  withName: /MASH_.*/       { container = params.img_mapping }
  withName: /BOWTIE2_.*/    { container = params.img_mapping }
  withName: /FASTQ_TO_FASTA_SEQIO/ { container = params.img_mapping }
  withName: /SAMTOOLS_VCFUTILS_FASTQ/ {
    container        = params.img_mapping
    containerOptions = '-u 0:0'}
}